# Compiled class files
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IntelliJ IDEA files
.idea/
*.iws
*.iml
*.ipr

# NetBeans files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Eclipse files
.project
.classpath
.settings/
.metadata/
bin/
tmp/

# Maven files
target/
pom.xml.tag
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Gradle files
.gradle/
build/

# Other files
*.DS_Store
.vscode/
